@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik',sans-serif;
  /* border: 1px solid red; */
}

img{
  max-width: 100%;
}

body{
  background-color: hsl(226, 43%, 10%);
}

.App{
  margin: 2rem 0;
  padding: 1rem;
}


header{
  border-radius: 0.75rem;
  background-color:hsl(235, 46%, 20%);
}

.flex-container{
  display: flex;
  align-items: center;
  gap:1rem;
  border-radius: 0.75rem;
  padding: 1.5rem;
  background-color: hsl(246, 80%, 60%);
}

.flex-container div img{
  width: 4rem;
  border-radius: 50%;
  border: 2.5px solid white;
}

.report-of p{
  color:hsl(236, 100%, 87%);
}

.report-of h2{
  font-weight: 300;
  color:white;
}


.btn-container{
  display: flex;
  justify-content: space-between;
  padding:1.25rem 2rem;
}

.btn-container button{
  cursor: pointer;
  border: none;
  background-color: inherit;
  color:hsl(236, 100%, 87%);
}



.btn-container button:hover{
  color:white;
}

.grid-container{
  display: grid;
  grid-template-columns:1 1fr;
}


.card{
  margin: 1.25rem 0;
  border-radius: 0.75rem;
  color:white;
}


.info-div{
  padding: 1rem;
  margin: -0.75rem 0;
  background-color:hsl(235, 46%, 20%);
  border-radius: 0.75rem;
}

.info-div:hover{
  cursor: pointer;
  background-color:hsl(235, 45%, 61%)
}

.info-div-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0;
}

.info-div-1 img:hover svg path {
  fill:white;
}

.info-div-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-div-2 p:nth-of-type(1){
  font-weight: 300;
  font-size: 2rem;
}

.info-div-2 p:nth-of-type(2){
  font-weight: 300;
  font-size: 0.9rem;
}



@media screen and (min-width:600px) {
    .grid-container{
      grid-template-columns: repeat(2,1fr);
      gap:1rem;
    }
}

@media screen and (min-width:1000px) {

  body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .App{
    display: flex;
    max-width: 1000px;
    height: 430px;
    align-items:stretch;
    gap:2rem;
    padding: 0;
  }

  header{
    width: 200px;
    height: 100%;
  }
  .flex-container{
    flex-direction: column;
    align-items: flex-start;
    height: 67%;
  }

  .flex-container div img{
    margin: 0.5rem 0;
  }

  .report-of p{
    margin: 0.75rem 0;
  }

  .report-of{
    flex-direction: column;
  }
  .info-div{
    padding: 1rem 1.5rem;
  }

  .info-div-2{
    text-align: left;
    align-items:start;
    flex-direction: column;
    gap:1rem;
  }

  .btn-container{
    flex-direction: column;
    padding: 1.25rem;
  }

  .btn-container button{
    margin: 0.5rem 0;
    text-align: left;
  }

  .grid-container{
    grid-template-columns: repeat(3,1fr);
    row-gap:2rem;
    column-gap: 1rem;
  }

  .card{
    margin: 0;
    width:250px;
  }
}

button.active{
  color: white;
}